# App Core Settings
APP_SECRET=django-insecure-generate-a-real-one-for-production
APP_ENV=development # development or production
APP_ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=loftdesign
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432 # Internal port

# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6379 # Internal port

# EMAIL Settings
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
