{% extends "index.html" %}
{% load i18n %}
{% block title %}{% trans "New Password" %}{% endblock %}
{% block content %}
<div class="auth-container auth-page-bg min-vh-100 d-flex align-items-center justify-content-center p-3">
    <div class="card auth-card border-0 shadow-lg p-5" style="max-width: 500px; width: 100%;">
        <h3 class="fw-black mb-3">{% trans "Choose New Password" %}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 py-3 fw-bold rounded-pill shadow mt-3">
                {% trans "Set New Password" %}
            </button>
        </form>
    </div>
</div>
{% endblock %}
